@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Assalamu Aleikum, brothers and sisters</h1>
    <div class="my-4">
        <!-- Добавляем изображение с отзывчивым дизайном -->
        <img src="~/images/cat.jpg" alt="Интернет-магазин" class="banner-image" style="max-width: 800px;" />
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
